.bundle/
docs/*.tex
docs/*.log
docs/*.out
docs/*.toc
docs/*.aux
apps/pushy/.eunit
.DS_STORE
*.beam
.eunit
_build
_checkouts
log
# rebar3 output
compile_commands.json

# emacs leaves these behind.
*~
*#

# When in a Docker shell, these can be left behind
.cache/

**/*.coverdata
.psql_history
