.bundle/
design/*.tex
design/*.log
design/*.out
design/*.toc
design/*.aux
prototype/ebin
prototype/deps
server/rel/pushy
server/apps/pushy/ebin
server/deps
server/apps/pushy/.eunit
.DS_STORE
*.beam
rel/pushy
deps
.eunit
.pushy.plt
