{cover_enabled, true}.
{erl_opts, [debug_info,
            warnings_as_errors]}.

{sub_dirs, ["rel", "apps/pushy"]}.

{deps,
 [
  {lager, ".*",
   {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {meck, ".*",
   {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
  {erlzmq, "2.0",
   {git, "https://github.com/jamesc/erlzmq2.git", {branch, "2.1.11-max_sockets"}}},
  {gproc, ".*", {git, "https://github.com/esl/gproc.git", {tag, "v0.2.11"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.4.3"}}},
  {sqerl, ".*", {git, "https://github.com/chef/sqerl.git", {branch, "master"}}},
  {chef_authn, ".*",
   {git, "https://github.com/chef/chef_authn.git", {branch, "master"}}},
  {pushy_common, ".*",
   {git, "https://github.com/chef/pushy_common.git", {branch, "master"}}},
  {ej, ".*", {git, "https://github.com/seth/ej.git", {branch, "master"}}},
  {webmachine, ".*",
   {git, "https://github.com/opscode/webmachine", {tag, "1.10.5.3"}}},
  {envy, ".*",
   {git, "https://github.com/manderson26/envy.git", {branch, "master"}}},
%% Not actually using this yet AFAIK
%%  {mixer, ".*",
%%   {git, "https://github.com/opscode/mixer.git", {branch, "master"}}},
%% Monitoring and logging
  {folsom, ".*",
   {git, "https://github.com/chef/folsom.git", {branch, "master"}}},
  {folsom_graphite, ".*",
   {git, "https://github.com/chef/folsom_graphite.git", {branch, "master"}}},
  {rebar_lock_deps_plugin, ".*",
   {git, "https://github.com/seth/rebar_lock_deps_plugin.git", "master"}},
%% Debuggging
  {eper, ".*",
   {git, "https://github.com/massemanet/eper.git", {branch, "master"}}}

 ]}.

{plugins, [rebar_lock_deps_plugin]}.
