{cover_enabled, true}.
{erl_opts, [debug_info,
            warnings_as_errors]}.
{deps,
 [
  {pushy_common,
   {git, "https://github.com/chef/pushy_common", {branch, "master"}}},
  {lager,
   {git, "https://github.com/basho/lager", {branch, "master"}}},
  {meck,
   {git, "https://github.com/eproxus/meck", {branch, "master"}}},
  {erlzmq,
   {git, "https://github.com/chef/erlzmq2", {branch, "devel"}}},
  {gproc,
   {git, "https://github.com/esl/gproc", {branch, "master"}}},
  {jiffy,
   {git, "https://github.com/davisp/jiffy", {tag, "0.14.8"}}},
  {sqerl,
   {git, "https://github.com/chef/sqerl", {branch, "master"}}},
  {chef_authn,
   {git, "https://github.com/chef/chef_authn", {branch, "master"}}},
  {ej,
   {git, "https://github.com/seth/ej", {branch, "master"}}},
  {webmachine,
    {git,"https://github.com/basho/webmachine", {tag, "1.10.8"}}},
  {envy,
   {git, "https://github.com/manderson26/envy", {branch, "master"}}},
%% Monitoring and logging
  {folsom,
   {git, "https://github.com/chef/folsom", {branch, "master"}}},
  {folsom_graphite,
   {git, "https://github.com/chef/folsom_graphite", {branch, "master"}}},
%% Debuggging
  {eper,
   {git, "https://github.com/massemanet/eper", {branch, "master"}}}

 ]}.

{plugins, []}.

{overrides, [
             {override, jiffy,
              [
               {plugins, [pc]},
               {provider_hooks,
                [
                 {post, [
                         {compile, {pc, compile}},
                         {clean, {pc, clean}}
                        ]}
                ]}
              ]},
             {override, erlzmq,
              [
               {plugins, [pc]},
               {provider_hooks,
                [
                 {post, [
                         {compile, {pc, compile}},
                         {clean, {pc, clean}}
                        ]}
                ]}
              ]}
            ]}.
