{cover_enabled, true}.
{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform}]}.

{sub_dirs, ["rel", "apps/pushy"]}.

{deps,
 [{lager, ".*",
   {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {meck, ".*",
   {git, "git://github.com/eproxus/meck.git", {branch, "master"}}},
  {erlzmq, "2.0",
   {git, "git://github.com/jamesc/erlzmq2.git", {branch, "2.1.11-max_sockets"}}},
  {gproc, ".*", {git, "git://github.com/esl/gproc.git", {tag, "v0.2.11"}}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.4.3"}}},
  {sqerl, ".*", {git, "git@github.com:opscode/sqerl.git", {branch, "master"}}},
  {chef_authn, ".*",
   {git, "git@github.com:opscode/chef_authn.git", {branch, "master"}}},
  {pushy_common, ".*",
   {git, "git@github.com:opscode/pushy_common.git", {branch, "master"}}},
  {ej, ".*", {git, "git@github.com:seth/ej.git", {branch, "master"}}},
  {webmachine, ".*",
   {git, "git://github.com/basho/webmachine", {tag, "1.10.1"}}},
  {envy, ".*",
   {git, "git@github.com:manderson26/envy.git", {branch, "master"}}},

%% Not actually using this yet AFAIK
%%  {mixer, ".*",
%%   {git, "git@github.com:opscode/mixer.git", {branch, "master"}}},
%% Monitoring and logging
  {folsom, ".*",
   {git, "git@github.com:opscode/folsom.git", {branch, "master"}}},
  {folsom_graphite, ".*",
   {git, "git@github.com:opscode/folsom_graphite.git", {branch, "master"}}},
%% Debuggging
  {eper, ".*",
   {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}

 ]}.
