%% -*- mode:erlang, erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% @copyright Copyright 2014 Chef Software, Inc. All Rights Reserved.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License. You may obtain
%% a copy of the License at
%%
%% http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied. See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%

%% Jobs Queries
{find_job_by_id,
 <<"SELECT j.id, j.org_id, j.command, j.quorum, js.description AS status,"
   " j.run_timeout, j.last_updated_by, j.created_at, j.updated_at,"
   " jn.node_name, jn.status AS job_node_status,"
   " jn.created_at, jn.updated_at,"
   " RTRIM(jo.job_user) as job_user, RTRIM(jo.dir) as dir, jo.env, jo.capture, jo.job_file"
   " FROM jobs j"
   " LEFT OUTER JOIN job_nodes jn ON j.id = jn.job_id"
   " INNER JOIN job_status js ON j.status = js.id"
   " LEFT OUTER JOIN job_options jo ON j.id = jo.job_id"
   " WHERE j.id = $1">>}.

{find_jobs_by_org,
 <<"SELECT j.id, j.org_id, j.command, j.quorum, js.description AS status,"
   " j.run_timeout, j.last_updated_by, j.created_at, j.updated_at,"
   " RTRIM(jo.job_user) as job_user, RTRIM(jo.dir) as dir, jo.env, jo.capture, jo.job_file"
   " FROM jobs j"
   " INNER JOIN job_status js ON j.status = js.id"
   " LEFT OUTER JOIN job_options jo ON j.id = jo.job_id"
   " WHERE j.org_id = $1">>}.

{find_incomplete_jobs,
  <<"SELECT j.id, j.created_at, j.updated_at, j.last_updated_by,"
    " js.description AS status"
    " FROM jobs j, job_status js",
    " WHERE j.status = js.id AND js.description in ('voting', 'running', 'new')">>}.

{find_incomplete_job_nodes,
 <<"SELECT jn.node_name, jn.job_id, j.org_id"
   " FROM jobs j"
   " INNER JOIN job_status js ON j.status = js.id"
   " LEFT OUTER JOIN job_nodes jn ON j.id = jn.job_id"
   " WHERE js.description = 'crashed' AND jn.status = 2">>}.

{insert_job,
 <<"INSERT INTO jobs (id, org_id, command, quorum, status, run_timeout,"
   " last_updated_by, created_at, updated_at)"
   " VALUES ($1, $2, $3, $4,"
   " (SELECT id FROM job_status WHERE (description = $5)), $6, $7, $8, $9)">>}.

{update_job_by_id,
 <<"UPDATE jobs SET status = (SELECT id FROM job_status WHERE (description = $1)),"
   " last_updated_by= $2, updated_at= $3"
   " WHERE (id= $4)">>}.

{insert_job_node,
 <<"INSERT INTO job_nodes (job_id, org_id, node_name, status,"
   " created_at, updated_at)"
   " VALUES ($1, $2, $3, $4, $5, $6)">>}.

{insert_job_options,
 <<"INSERT INTO job_options (job_id, job_user, dir, env, capture, job_file)"
   " VALUES ($1, $2, $3, $4, $5, $6)">>}.

{update_job_node_by_orgid_nodename_jobid,
 <<"UPDATE job_nodes SET status= $1, updated_at= $2"
   " WHERE (org_id= $3 AND node_name= $4 AND job_id= $5)">>}.

{insert_job_output,
 <<"INSERT INTO job_output (job_id, node_name, stdout, stderr)"
   " VALUES ($1, $2, $3, $4)">>}.

{fetch_job_stdout,
 <<"SELECT stdout FROM job_output WHERE job_id = $1 AND node_name = $2">>}.

{fetch_job_stderr,
 <<"SELECT stderr FROM job_output WHERE job_id = $1 AND node_name = $2">>}.
