%% -*- mode:erlang, erlang-indent-level: 4;indent-tabs-mode: nil -*-

%% Node Status (Heartbeat) Queries
{insert_node_status,
 <<"INSERT INTO node_status (org_id, node_name, status,"
   " last_updated_by, created_at, updated_at ) VALUES"
   " ($1, $2, $3, $4, $5, $6)">>}.

{update_node_status_by_orgid_name,
 <<"UPDATE node_status SET status= $1, last_updated_by= $2, updated_at= $3"
   " WHERE (org_id= $4 AND node_name= $5)">>}.

{list_node_statuses_for_org,
  <<"SELECT node_name, org_id, status, last_updated_by, created_at, updated_at"
    " FROM node_status"
    " WHERE org_id= $1">>}.

%% Jobs Queries
{find_job_by_id,
 <<"SELECT jobs.id, jobs.org_id, jobs.status,"
   " jobs.last_updated_by, jobs.created_at, jobs.updated_at,"
   " job_nodes.node_name, job_nodes.status,"
   " job_nodes.created_at, job_nodes.updated_at"
   " FROM jobs, job_nodes"
   " WHERE (jobs.id = job_nodes.job_id AND jobs.id = $1)">>}.

{insert_job,
 <<"INSERT INTO jobs (id, org_id, status, last_updated_by, created_at, updated_at)"
   " VALUES ($1, $2, $3, $4, $5, %6)">>}.

{update_job_status_by_id,
 <<"UPDATE jobs SET status= $1, last_updated_by= $2, updated_at= $3"
   " WHERE (id= $4)">>}.

{insert_job_node,
 <<"INSERT INTO job_nodes (org_id, node_name, status,"
   " created_at, updated_at, job_id)"
   " VALUES ($1, $2, $3, $4, $5, $6)">>}.

{update_job_node_status_by_orgid_nodename_jobid,
 <<"UPDATE jobs SET status= $1, updated_at= $2"
   " WHERE (org_id= $3 AND node_name= $4 AND job_id= $5)">>}.
