{insert_node_status,
 <<"INSERT INTO node_status (org_id, node_name, status,"
   " last_updated_by, created_at, updated_at ) VALUES"
   " ($1, $2, $3, $4, $5, $6)">>}.

{update_node_status_by_orgid_name,
 <<"UPDATE node_status SET status= $1, last_updated_by= $2, updated_at= $3"
   " WHERE (org_id= $4 AND node_name= $5)">>}.

{get_node_status_by_orgid,
  <<"SELECT * FROM node_status WHERE org_id= $1">>}.

{get_node_status_by_name,
  <<"SELECT node_name FROM node_status WHERE node_name= $1">>}.
