{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.

{sub_dirs, ["rel", "apps/pushy"]}.

{deps,
 [{erlzmq, "2.0", {git, "git://github.com/zeromq/erlzmq2.git"}},
  {gproc, ".*", {git, "git://github.com/esl/gproc.git", {tag, "v0.2.11"}}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.4.3"}}}]}.
