
%% Zeromq Tunings
{zmq_io_processes, 1}.

%% db_driver_mod, db_port, db_user, db_pass, and db_name are all set in
%% db_vars.config as an overlay
{db_driver_mod, sqerl_pgsql_client}.
{db_host, "localhost"}.
{db_pool_size, 5}.
{db_port, 5432}.
{db_pass, "opensesame"}.
{db_name, "opscode_pushy_test"}.

{ibrowse_max_sessions, 256}.
{ibrowse_max_pipeline_size, 1}.

{keyring_dir, "keys"}.

{server_name, "localhost"}.
{heartbeat_interval, 1000 }.
{zeromq_listen_address, "tcp://*"}.
{server_heartbeat_port, 10000}.
{api_port, 10002}.
{command_port, 10003}.
{log_dir, "priv/log"}.
{config_lifetime, 3600}.
{down_threshold, 4}.
{decay_window, 0.6}.
{detect_offline_nodes_interval, 4}.

{enable_graphite, false}.
