%% -*- mode: erlang -*-
[
 {kernel, [{start_pg2, true}]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {fast_log, [
             {loggers, [[{name, erchef},
                         {file, "log/pushy.log"},
                         {files, 5},
                         {file_size, 50}]]}
            ]},
 {sqerl, [
          %% The database system you are using (e.g., mysql, pgsql)
          {db_type, {{db_type}} },

          %% Database connection parameters
          {db_host, "{{db_host}}" },
          {db_port, {{db_port}} },
          {db_user, "{{db_user}}" },
          {db_pass, "{{db_pass}}" },
          {db_name,   "{{db_name}}" },
          {idle_check, 10000},
          {prepared_statements, {pushy_sql, statements, [ {{db_type}} ]} },
          %% what's this?
          {column_transforms, undefined}
         ]},

 {pooler, [
           {pools, [[{name, "sqerl"},
                     {max_count, {{db_pool_size}} },
                     {init_count, {{db_pool_size}} },
                     {start_mfa, {sqerl_client, start_link, []}}]]},
           {metrics_module, folsom_metrics}
          ]},
  {pushy, [{heartbeat_interval, {{heartbeat_interval}} },
           {dead_interval, {{dead_interval}} },
           {node_status_socket, "{{node_status_socket}}" },
           {server_heartbeat_socket, "{{server_heartbeat_socket}}" },

           {configuration_json,
            {struct, [{<<"type">>, <<"config">>}
                      {<<"host">>, <<"opc1.opscode.com">>},
                      {<<"push_jobs">>,
                       {struct, [{<<"heartbeat">>,
                                  {struct, [{<<"out_addr">>, <<"tcp://10.10.1.5:10000">>},
                                            {<<"in_addr">>, <<"tcp://10.10.1.5:10001">>},
                                            {<<"interval">>, 15},
                                            {<<"offline_threshold">>, 3},
                                            {<<"online_threshold">>, 2}
                                           ]}}]}},
                      {<<"public_key">>, <<"AAAAB3NzaC1kc3MAAACBAIZbwlySffbB5msSUH8JzLLXo/v03JBCWr13fVTjWYpccdbi/xL3IK/Jw8Rm3bGhnpwCAqBtsLvZ OcqXrc2XuKBYjiKWzigBMC7wC9dUDGwDl2aZ89B0jn2QPRWZuCAkxm6sKpefu++VPRRZF+iyZqFwS0wVKtl97T0gwWlzAJYpAAA AFQDIipDNo83e8RRp7Fits0DSy0DCpwAAAIB01BwXg9WSfU0mwzz/0+5Gb/TMAxfkDyucbcpJNncpRtr9Jb+9GjeZIbqkBQAqwgdbEjviRbUAuSawNSCdtnMgWD2NXkBKEde">>},
                      {<<"lifetime">> ,3600}
                     ]}}]},
  {chef_common, [{keyring_dir, "{{keyring_dir}}"}]}
].
