{sys,[{lib_dirs,["../deps","../apps"]},
      {rel,"opscode-pushy-server","1.1.1",
           [kernel,stdlib,sasl,crypto,erlzmq,jiffy,lager,gproc,gen_leader,
            folsom,epgsql,sqerl,eper,pushy]},
      {rel,"start_clean",[],[kernel,stdlib]},
      {boot_rel,"opscode-pushy-server"},
      {profile,embedded},
      {excl_sys_filters,["^bin/.*","^erts.*/bin/(dialyzer|typer)"]},
      {excl_archive_filters,[".*"]},
      {app,sasl,[{incl_cond,include}]},
      {app,crypto,[{incl_cond,include}]},
      {app,jiffy,[{incl_cond,include}]},
      {app,lager,[{incl_cond,include}]},
      {app,folsom,[{incl_cond,include}]},
      {app,folsom_graphite,[{incl_cond,include}]},
      {app,gproc,[{incl_cond,include}]},
      {app,gen_leader,[{incl_cond,include}]},
      {app,epgsql,[{incl_cond,include}]},
      {app,sqerl,[{incl_cond,include}]},
      {app,pushy_common,[{incl_cond,include}]},
      {app,chef_authn,[{incl_cond,include}]},
      {app,runtime_tools,[{incl_cond,include}]},
      {app,eper,[{incl_cond,include}]},
      {app,pushy,[{incl_cond,include}]}]}.
{target_dir,"opscode-pushy-server"}.
{overlay_vars,"vars.config"}.
{overlay,[{mkdir,"log/sasl"},
          {copy,"files/erl","{{erts_vsn}}/bin/erl"},
          {copy,"files/debug.gdb","etc/debug.gdb"},
          {copy,"files/nodetool","{{erts_vsn}}/bin/nodetool"},
          {copy,"files/opscode-pushy-server","bin/opscode-pushy-server"},
          {template,"files/app.config","etc/app.config"},
          {copy,"files/vm.args","etc/vm.args"},
          {mkdir,"db"},
          {copy,"../db/*.sql","db"}]}.

