{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "pushy", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         erlzmq,
         jiffy,
         gproc,
         gen_leader,
         pushy
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "pushy"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, jiffy, [{incl_cond, include}]},
       {app, gproc, [{incl_cond, include}]},
       {app, gen_leader, [{incl_cond, include}]},
       {app, chef_common, [{incl_cond, include}]},
       {app, pushy, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]}
      ]}.

{target_dir, "pushy"}.
{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/pushy", "bin/pushy"},
           {template, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
